.rock{
    background-color: #b69e31;
    color: #b69e31;
}
.ghost{
    background-color: #70559b;
    color: #70559b;
}
.steel{
    background-color: #b7b9d0;
    color: #b7b9d0;
}
.water{
    background-color: #6493eB;
    color: #6493eB;
}
.grass{
    background-color: #74cb48;
    color: #74cb48;
}
.psychic{
    background-color: #fb5584;
    color: #fb5584;
}
.ice{
    background-color: #9ad6df;
    color: #9ad6df;
}
.dark{
    background-color: #75574c;
    color: #75574c;

}
.fairy{
    background-color: #e69eac;
    color: #e69eac;

}
.normal{
    background-color: #aaa67F;
    color: #aaa67F;

}
.fighting{
    background-color: #c12239;
    color: #c12239;

}
.flying{
    background-color: #a891ec;
    color: #a891ec;

}
.poison{
    background-color: #a43e9e;
    color: #a43e9e;

}
.ground{
    background-color: #dec16b;
    color: #dec16b;

}
.bug{
    background-color: #a7b723;
    color: #a7b723;
}
.fire{
    background-color: #f57d31;
    color: #f57d31;

}
.electric{
    background-color: #f9cf30;
    color: #f9cf30;

}
.dragon{
    background-color: #7037ff;
    color: #7037ff;

}

