@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

a {
  text-decoration: none;
  color: white;
}

a:active,
a:visited {
  color: black;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
}

textarea:focus,
button:focus,
input:focus {
  outline: none;
}

.App {
  overflow: hidden;
}

.rock {
  background-color: #b69e31;
  color: #b69e31;
}

.ghost {
  background-color: #70559b;
  color: #70559b;
}

.steel {
  background-color: #b7b9d0;
  color: #b7b9d0;
}

.water {
  background-color: #6493eB;
  color: #6493eB;
}

.grass {
  background-color: #74cb48;
  color: #74cb48;
}

.psychic {
  background-color: #fb5584;
  color: #fb5584;
}

.ice {
  background-color: #9ad6df;
  color: #9ad6df;
}

.dark {
  background-color: #75574c;
  color: #75574c;
}

.fairy {
  background-color: #e69eac;
  color: #e69eac;
}

.normal {
  background-color: #aaa67F;
  color: #aaa67F;
}

.fighting {
  background-color: #c12239;
  color: #c12239;
}

.flying {
  background-color: #a891ec;
  color: #a891ec;
}

.poison {
  background-color: #a43e9e;
  color: #a43e9e;
}

.ground {
  background-color: #dec16b;
  color: #dec16b;
}

.bug {
  background-color: #a7b723;
  color: #a7b723;
}

.fire {
  background-color: #f57d31;
  color: #f57d31;
}

.electric {
  background-color: #f9cf30;
  color: #f9cf30;
}

.dragon {
  background-color: #7037ff;
  color: #7037ff;
}

.pokedex {
  background-color: #f7f7f7;
  padding: 3.2rem 3.2rem;
}

.pokedex .wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.95rem;
          column-gap: 1.95rem;
  row-gap: 0.9rem;
}

.pokedex-card {
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  width: 20.6rem;
  height: 22.4rem;
  border: 1.3px solid #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pokedex-card-id {
  color: #666;
  position: absolute;
  top: 5px;
  right: 20px;
}

.pokedex-card-img {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.pokedex-card-info {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #666;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* for navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.2rem 3.2rem;
}

.navbar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo-icon {
  width: 4.4rem;
  margin-right: 2rem;
}

.logo-text {
  font-size: 4.2rem;
}

.navbar-filter {
  outline: none;
  background: transparent;
  border: none;
}

.navbar-filter img {
  width: 4rem;
}

.navbar-search {
  padding: 1rem 1rem;
  border-radius: 12px;
  border: 1px solid #666;
  position: relative;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-search img {
  width: 2rem;
}

.navbar-search input {
  font-size: 1.8rem;
  padding-left: 2rem;
  background-color: #fff;
  color: #212121;
  border: none;
  width: 90%;
}

.pokemon {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 28rem;
  text-align: center;
}

.pokemon-decor {
  position: absolute;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 100rem;
  overflow: hidden;
  opacity: 0.13;
  right: -20rem;
  top: -10rem;
}

.pokemon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 6rem;
  width: 80%;
  color: #fff;
}

.pokemon-title img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.pokemon-info {
  position: relative;
  width: 80%;
  padding: 0 3.2rem;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 6rem;
}

.pokemon-img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: -233px;
}

.pokemon-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5.6rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  margin-bottom: 5rem;
}

.pokemon-type {
  padding: 0.3rem 1.5rem;
  border-radius: 20px;
  color: #fff;
}

.pokemon-h2 {
  font-weight: bold;
  margin: 2rem 0;
}

.about-groups {
  height: 100%;
  width: 100%;
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  text-align: center;
}

.about-group {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-group-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.about-group-group img {
  height: 3rem;
}

.pokemon-description {
  text-align: left;
  margin-top: 2.1rem;
  color: black;
}

.vl {
  border-left: 1.5px solid #e0e0e0;
  height: 78px;
}

.pokemon-stats h2 {
  font-weight: bold;
}

.pokemon-stats p {
  color: black;
  font-size: 1.8rem;
}

.stats-bars {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin-bottom: 5rem;
}

.stats-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}

.stats-bar:nth-child(3) {
  height: 249px;
  width: 100%;
}

.vl-absolute {
  position: absolute;
  border-left: 1.5px solid #e0e0e0;
  height: 78px;
}

@media screen and (max-width: 712px) {
  .about-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-groups .vl {
    border-top: 1px solid #666;
    height: 0;
    width: 100%;
    margin: 3rem 0;
  }
  .about-groups .about-group {
    row-gap: 1.5rem;
  }
}
